@{
    ViewData["Title"] = "Group Information";
}
<h1>@ViewData["Title"]</h1>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid black;
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Student ID</th>
        <th>CRN</th>
        <th>Lab Professor</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Mansi</td>
        <td>101512083</td>
        <td>50262</td>
        <td>Vadym Tahiev</td>
    </tr>
    <tr>
        <td>Sakshat Garg</td>
        <td>101516778</td>
        <td>50262</td>
        <td>Vadym Tahiev</td>
    </tr>
    </tbody>
</table>
